@media only screen and (max-width:400px) {
  body {
    margin: 0
  }
}
@media only screen and (min-width:401px) {
  body {
    background-color: #ededed
  }
  #page-content {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px
  }
}
#page-content {
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  background: #fff
}
header {
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center
}
img.header-toplogo {
  width: auto;
  height: 28px
}
section {
  padding-left: 10px;
  padding-right: 10px
}
section.fullwidth {
  flex-direction: column;
  padding-left: 0;
  padding-right: 0
}
a.nounderline {
  text-decoration: none;
  color: inherit
}
.fullwidth ul {
  padding-left: 0;
  margin: 0;
  list-style: none
}
li {
  transition: .3s;
  padding: 1px 2px 3px 4px;
  border: solid #a9a9a9;
  border-width: 0 0 1px 0
}
li.is-link:hover {
  background-color: #d3d3d3
}
button {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 24px;
  cursor: pointer;
  border: 0;
  font-weight: bolder
}
footer {
  display: flex;
  padding: 4px
}
textarea {
  font-size: 16px;
  line-height: 15px;
  min-height: 100px;
  min-width: 300px;
  border-radius: 6px
}
.badge {
  border: 1px solid #008b8b;
  background-color: #f0f8ff;
  padding: 0 2px 0 2px;
  margin: 0 4px 0 4px
}
.check-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: -1
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #b1b1b1
}
.check-container:hover input ~ .checkmark {
  background-color: #999
}
.check-container input:checked ~ .checkmark {
  background-color: #2196f3
}
.check-container:hover input:checked ~ .checkmark,
button:hover {
  background-color: #083050
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none
}
.check-container input:checked ~ .checkmark:after {
  display: block
}
.check-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg)
}
.check-container ~ a {
  padding-left: 6px
}
.code {
  font-style: italic;
  background-color: #ededed;
  padding: .1em .3em;
  border-radius: .3em;
  user-select: all
}
.hint {
  font-size: 14px;
  margin-top: 0;
  color: grey
}
.right {
  float: right
}
.title,
.title2,
.title3 {
  margin-top: 0;
  margin-bottom: 0
}
.title {
  font-size: 28px
}
.title2 {
  font-size: 18px;
  font-weight: bolder
}
.title3 {
  font-size: 14px
}
#check-list {
  font-size: 16px
}